/* main SECTION */

.main {
  height: 100%;
  background: url('https://source.unsplash.com/1600x900/?hotel,resort') center / cover no-repeat;
  color: #fff;
}

.overlay {
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.overlay h1 {
  font-size: 3rem;
  margin-bottom: 0px;
}

.overlay p {
  font-size: 1.2rem;
  margin-bottom: 25px;
}

/* SEARCH BOX */
.search-box {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom:40px;
}

.search-box input,
.search-box button {
  padding: 12px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
}

.search-box input {
  min-width: 140px;
}

.search-box button {
  background: #ff9800;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s ease;
}

.search-box button:hover {
  background: #e68900;
}

/* HOTELS SECTION */
.hotels {
  padding: 50px 20px;
  text-align: center;
  background: #f9f9f9;
}

.hotels h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

/* HOTEL CARDS */
.cards {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.card {
  width: 280px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card h3 {
  margin: 15px 0 5px;
  font-size: 1.2rem;
}

.card p {
  margin: 5px 0;
  color: #555;
  font-size: 14px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .overlay h1 {
    font-size: 2.2rem;
  }
  .search-box{
    margin-bottom: 0px;
  }
  .search-box input {
    width: 100%;
  }
 .hotels {
    padding:0px;
  }
  .card {
    width: 100%;
    max-width: 320px;
  }
}
